name: turtle

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install rapper
        run: sudo apt-get update && sudo apt-get install -y raptor2-utils
      - name: Validate metadata TTL
        run: rapper -i turtle metadata/metadata.ttl -c
